.page-container {
  padding: 0 18%;
  
  @media screen and (max-width:768px) {
    padding: 0 7%;
  }
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 40px;
  box-sizing: border-box;
}

.header-link {
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  text-decoration: none;
}

.header-logo {
  height: 32px;
  width: 32px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer-bottom-container {
  width: 100%;
  padding: 32px 0;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.footer-col {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &.internal-links {
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &.social-links {
    margin-left: auto;

    @media screen and (max-width: 768px) {
      margin-left: unset;
      margin-top: 4px;
      justify-content: center;
    }
  }
}

.footer-link {
  color: #1a1a1a;
  text-decoration: none;
  margin-right: 24px;

  &:last-of-type {
    margin-right: 0;
  }

  h5,img {
    display: inline-block;
  }

  &.icon img {
    height: 24px;
    width: 24px;
  }
}

.internal-links .footer-link {
  @media screen and (max-width: 768px) {
    margin-right: 0;
    margin-bottom: 8px;
  }
}

.bottom-footer-copy {
  width: 100%;
  margin-top: 16px;

  @media screen and (max-width: 768px) {
    width: auto;
    margin: 0 0 8px 0;
  }
}


// Styles for PageNoteFound and ErrorPage components
// in a real-world scenario I would break these out but for brevitys sake I threw them in here
.page-not-found {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 35vh;

  .left {
    display: inline-block;
    border-right: 1px solid rgba(0, 0, 0,.3);
    margin: 0;
    margin-right: 20px;
    padding: 10px 23px 10px 0;
    font-size: 36px;
    font-weight: 500;
    vertical-align: top;
  }

  .right {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    font-size: 24px;
    font-weight: normal;
    line-height: inherit;
    margin: 0;
    padding: 0;
  }

  @media screen and (max-width:768px) {
    .left {
      font-size: 24px;
    }

    .right {
      font-size: 14px;
    }
  }
}