@import './colors.scss';

.header {
  margin-bottom: 16px;
  font-size: 36px;

  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
}

.view-content-container {
  display: flex;
  flex-direction: row;
  margin-top: 8px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.content-left-col {
  width: 30%;
  min-width: 200px;
  margin-right: 5%;
}

.content-right-col {
  flex: 1 1;
}

.view-section-container {
  margin: 16px 0;

  &.zero-top-mgn-on-mobile {
    @media screen and (max-width: 768px) {
      margin-top: 0;
    }
  }

  .show-on-mobile, &.show-on-mobile {
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
    }
  }


  .hide-on-mobile, &.hide-on-mobile {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .neg-8-top-margin, &.neg-8-top-margin {
    margin-top: -8px;
  }
}

.view-section {
  margin-bottom: 16px;
}

.view-section.small-margin {
  margin-bottom: 4px;
}

hr.divider {
  background-color: $gallery-white;
  color: $gallery-white;
  border: none;
  width: 100%;
  height: 1px;
  margin: 0px;
  padding: 0px;
}